.config
.version
*.a
*.o
*.d
*.def
*.dll
*.exe
*.ho
*.lib
*.pc
*.so
*.so.*
*.ver
*-example
*-test
*_g
*.def
*.dll
*.lib
*.exp
config.*
doc/*.1
doc/*.html
doc/*.pod
doc/fate.txt
doxy
ffmpeg
ffplay
ffprobe
ffserver
avconv
doc/avoptions_codec.texi
doc/avoptions_format.texi
doc/print_options
libavcodec/*_tablegen
libavcodec/*_tables.c
libavcodec/*_tables.h
libavcodec/codec_names.h
libavutil/avconfig.h
tests/audiogen
tests/base64
tests/data
tests/rotozoom
tests/tiny_psnr
tests/videogen
tests/vsynth1
tests/vsynth2
tools/aviocat
tools/cws2fws
tools/graph2dot
tools/ismindex
tools/lavfi-showfiltfmts
tools/pktdumper
tools/probetest
tools/qt-faststart
tools/trasher
version.h

build/Makefile

build/doc/avoptions_codec.texi

build/doc/developer.html

build/doc/avoptions_format.texi

build/doc/faq.html

build/doc/fate.html

build/doc/fate.txt

build/doc/ffmpeg.1

build/doc/ffmpeg.html

build/doc/ffmpeg.pod

build/doc/ffprobe.1

build/doc/ffprobe.html

build/doc/ffprobe.pod

build/doc/ffserver.1

build/doc/ffserver.html

build/doc/ffserver.pod

build/doc/general.html

build/doc/git-howto.html

build/doc/libavfilter.html

build/doc/platform.html

build/doc/print_options

build/libavcodec/codec_names.h

build/libavcodec/h264_cabac.o-0QgS4V

build/libavcodec/h264_cabac.o-CmxIi7

build/libavcodec/h264_cabac.o-OZiOUV

build/libavcodec/h264_cabac.o-P8jvHN

build/libavcodec/h264_cabac.o-Q2Maeu

build/libavcodec/h264_cabac.o-vL6iOx

build/libavcodec/libavcodec.54.dylib

build/libavcodec/libavcodec.dylib

build/libavdevice/libavdevice.53.dylib

build/libavdevice/libavdevice.dylib

build/libavfilter/libavfilter.2.dylib

build/libavfilter/libavfilter.dylib

build/libavformat/libavformat.54.dylib

build/libavformat/libavformat.dylib

build/libavresample/libavresample.0.dylib

build/libavresample/libavresample.dylib

build/libavutil/avconfig.h

build/libavutil/libavutil.51.dylib

build/libavutil/libavutil.dylib

build/libpostproc/libpostproc.52.dylib

build/libpostproc/libpostproc.dylib

build/libswresample/libswresample.0.dylib

build/libswresample/libswresample.dylib

build/libswscale/libswscale.2.dylib

build/libswscale/libswscale.dylib
